<div>
    <h2>
        <span>Clazzes</span>
        <button class="btn btn-primary float-right jh-create-entity create-clazz" [routerLink]="['/', { outlets: { popup: ['clazz-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Clazz
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clazzes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Code</span></th>
            <th><span>Start</span></th>
            <th><span>End</span></th>
            <th><span>Modulo</span></th>
            <th><span>Students</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clazz of clazzes ;trackBy: trackId">
                <td><a [routerLink]="['../clazz', clazz.id ]">{{clazz.id}}</a></td>
                <td>{{clazz.code}}</td>
                <td>{{clazz.start | date:'mediumDate'}}</td>
                <td>{{clazz.end | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="clazz.modulo">
                        <a [routerLink]="['../module', clazz.modulo?.id ]" >{{clazz.modulo?.description}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let students of clazz.students; let last = last">
                            {{students.firstName}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../clazz', clazz.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clazz/'+ clazz.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clazz/'+ clazz.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
