
<div *ngIf="evaluateTemplate">
    <h2><span>Evaluate Template</span> {{evaluateTemplate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Description</span></dt>
        <dd>
            <span>{{evaluateTemplate.description}}</span>
        </dd>
        <dt><span>Questions</span></dt>
        <dd>
            <span *ngFor="let questions of evaluateTemplate.questions; let last = last">
                <a [routerLink]="['/question-template', questions?.id ]">{{questions.description}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'evaluate-template/'+ evaluateTemplate.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
